*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;


}

a:hover{
    cursor: pointer;
    opacity: 1;
}

i{
    font-size: 30px;
}

nav{
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 10px #09090973;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#s1{
    
    height:100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left{
     width: 400px;
     height: 400px;
     display: flex;
     overflow: hidden;
     flex-wrap: wrap;
     align-items: center;
     border-radius: 999px;
     border: 2px solid black;
     justify-content: center;
     box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.494);
}

.left img{
    width: 400px;
    height: auto;
    transition: all 600ms ease-in-out;
}

.left img:hover {
    transform: scale(1.2);
}



.right{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#s2{
   background-image: url('./penguins.jpg');
   height:100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

#s3{
    padding-top:  80px;
    height:100vh;
}

#s4{
   padding-top: 80px;
    height:100vh;
}

footer{
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    gap: 30px;
}