* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

nav a {
    transition: all 200ms ease-in-out;
}

nav a:hover {
    transform: scale(1.05);
    color: aquamarine;
}


a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    cursor: pointer;
    opacity: 1;
}

.left {
    background-color: rgb(255, 0, 0);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 999px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.493);
}

.left img {
    width: 400px;
    height: auto;
    transition: all 400ms ease-in-out;
}

.left img:hover {
    transform: scale(1.2);
}

.right {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

#s1 {
    height: 100svh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#s2 {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url("./Images/penguins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: auto;
}

.card {
    width: 400px;
    border: 2px solid #090909;
    background-color: #090909;
    color: #ffff;
    transition: all 200ms ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.wraptexts {
    padding: 30px;
}

.card img {
    width: 100%;
    height: 200px;

}

#s3 {
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.video {
    width: 560px;
    height: 315px;
    box-shadow: 0px 3px 10px black;
    border-bottom: 20px;
    border-radius: 10px;
}

#s4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    box-shadow: #090909;
    background-color: #ffffff;
    padding: 80px 50px 50px 50px;
    margin-top: auto;
    background-image: url("./Images/fdm.jpg");
    background-attachment: fixed;
}

.paidos3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card2 {
    color: rgb(0, 55, 92);
    border: 5px solid rgb(2, 79, 102);

}

.mesmo {
    width: 400px;
    height: 350px;
    border: 5px solid rgb(1, 70, 97);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;

}

.mesmo2 {
    width: 400px;
    height: 350px;
    border: 3px solid rgb(0, 102, 109);
    border-radius: 400px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -50px;
    padding: 10px;
    background-color: aquamarine;
    opacity: 70%;
}

.mesmo2 p {
    color: black;
    opacity: 100%;
}

.mesmo img {
    width: 100%;
    transition: all 200ms ease-in-out;
}

.mesmo img:hover {
    transform: scale(1.1);
}





footer {
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: rgb(29, 131, 131);
}

i {
    transition: all 200ms ease-in-out;
}

i:hover {
    transform: translateY(-5px) scale(1.1);

}

#s5 {
    min-height: 80vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url("./Images/w.webp");


}

.formulario {
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.formulario label{
    color: rgba(250, 250, 250, 0.473);
    width: 100%;
    padding: 10px;
    margin-top: -25px;
}

.formulario input{
    
    width: 100%;
    padding: 10px;
}

.formulario textarea{
    
    max-width: 100%;
    width: 255%;
    min-width: 255px;
    padding: 10px;
}

.formulario button{
  
    width: 100%;
    padding: 10px;
}


@media(width <=1000px) {
    #s1 {
        padding-top: 100px;
    }

    #s2 {
        margin-top: 10px;
    }
}