*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;


}

a:hover{
    cursor: pointer;
    opacity: 1;
}

i{
    font-size: 30px;
}

nav{
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 10px #09090973;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#s1{
    
    height:100vh;
    padding-top: 80px;
}

#s2{
   
   height:100vh;
}

#s3{
    
    height:100vh;
}

#s4{
   
    height:100vh;
}

footer{
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    gap: 30px;
}