* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;


}

a:hover {
    cursor: pointer;
    opacity: 1;
}

i {
    font-size: 30px;
}

nav {
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 10px #09090973;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#s1 {
    height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left {
    width: 400px;
    height: 400px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 999px;
    border: 2px solid black;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.494);
}

.left img {
    width: 400px;
    height: auto;
    transition: all 600ms ease-in-out;
}

.left img:hover {
    transform: scale(1.2);
}



.right {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#s2 {
    background-image: url('./Images/penguins.jpg');
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    padding-top: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    border: 2px solid #090909;
    background-color: #090909;
    color: white;


}

.wrapTexts {
    padding: 20px;
}


.card img {
    width: 100%;
    height: auto;


}

#s3 {
    padding-top: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.video {
    width: 560;
    height: 315;
    box-shadow: 0px 3px 10px #090909;
    border-radius: 20px;
}

#s4 {
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 80vh;
    width: 100%;
    
}

.right1{
     width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

.left1{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.card1 img {
    width: 100%;
    height: auto;
    

}

.card1 {
    width: 300px;
    border: 2px solid #090909;
    background-color: #090909;
    color: white;
}

footer {
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}

i {
    transition: all 200ms ease-in-out;
}

i:hover {
    transform: translateY(-5px) scale(1.1);
}

@media (width <=1000px) {
    #s1 {
        padding-top: 100px;
    }

    #s2 {
        padding-top: 100px;
    }
}